<div id="wrapper">
    <div style="position:absolute">CURRENT PLAYER: {{_gameService.currentPlayer}}</div>
    <div id="colorPicker" *ngIf="_showColorPicker">
        <div class="color-chip color-chip-blue" (click)="colorPickerClicked('blue')"></div>
        <div class="color-chip color-chip-green" (click)="colorPickerClicked('green')"></div>
        <div class="color-chip color-chip-red" (click)="colorPickerClicked('red')"></div>
        <div class="color-chip color-chip-yellow" (click)="colorPickerClicked('yellow')"></div>
    </div>
    <div id="stage"></div>
</div>